.card {
  display:flex;
  flex-flow: column;
  justify-content: space-evenly;
  background-color: black;
  box-sizing: border-box;
  border: 3px solid #2f524e;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  max-width: 30vw;
}

.booked {
  align-self: center;
  color:#00bebe;
}

.button{
  position: relative;
  width: 240px;
  background: rgba(0, 190, 190, 0.2);
  border: 1px solid #00bebe;
  cursor: pointer;
  color: #00bebe;
  margin-bottom: 10px;
  font-weight: 500;
  transition: .3s;
  text-transform: uppercase;
  font-size: 24px;
  overflow: hidden;
  outline: none;
  font-family: 'Rajdhani', sans-serif;
}

.button:before, .button:after{
  content: "";
  position: absolute;
  height: 25px;
  width: 20px;
  background: #00dcdc;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.button:before{
  left: -20px;
}
.button:after{
  right: -20px;
}
.button:hover{
    box-shadow: 0 0 25px #00dcdc, 0 1px 5px #212121;
    border-color: #00dcdc;
    background:  rgba(0, 190, 190, 0.2);
    color: rgba(33, 33, 33, 0.7);
}
.button:hover:before{
  animation: leftbox 1s forwards;
}
.button:hover:after{
  animation: rightbox 1s forwards;
}
@keyframes leftbox {
  0%{
    left: -22px;
  }
  50%{
    height: 30px;
    width: 30px;
  }
  100%{
    height: 200%;
    width: 150%;
  }
}
@keyframes rightbox {
  0%{
    right: -22px;
  }
  50%{
    height: 30px;
    width: 30px;
  }
  100%{
    height: 200%;
    width: 150%;
  }
}

.image {
  max-width: 10vw;
  min-width: 10vw;
}

.image-container {
  margin-right: auto;
  margin-left:auto;
  min-width: 10vw;
  min-height: 10vw;
  max-width: 10vw;
  max-height: 10vw;
}

.interactive-container {
  display:flex;
  flex-flow: column;
  align-content: center;
  margin-right: auto;
  margin-left:auto;
}

.card:hover {
  transform: translateY(-.5%);
  box-shadow: 0 4rem 8rem rgba(0, 0, 0, .2);
}

@media screen and (max-width: 1024px) {
  .card{
  }
}

@media screen and (max-width: 768px) {
  .card{
    min-width: 30vw;
  }
  .button{
    max-width: 20vw;
  }
}

@media screen and (max-width: 425px) {
  .card {
    min-width: 90vw;
    max-height: 60vh;
  }
}

@media screen and (max-width: 425px) {
  .card {
    width: 42vw;
    height: 89vh;
  }
  .button {
    min-width: 50vw;
  }
}

@media screen and (max-width: 320px) {
  .card{
    width:80vw;
    height: 91vh;
  }
}
